<div class="container">

  <img src="assets/imgs/lime_logo.png" alt="Flowers in Chania">
  <h1>Lime's restaurant</h1>

  <div id="crm-content">

    <div class="profile-section">
        <h3>Profile <mat-icon>person</mat-icon></h3>
        <mat-table #table [dataSource]="dataSource">   
          <!-- Field Column -->
          <ng-container matColumnDef="field">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let profile"> {{profile.field}} </mat-cell>
          </ng-container>
              
          <!-- Value Column -->
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let profile"> {{profile.value}} </mat-cell>
          </ng-container>
              
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <div class="profile-section">
        <h3>Automatic notifications <mat-icon>sms</mat-icon></h3>
        <div class="all-notif" *ngFor="let n of notifications">
            <mat-radio-button value="n.id"></mat-radio-button>
            <mat-form-field><input disabled=true matInput [(ngModel)]="n.title"/></mat-form-field>
            <textarea disabled=true matInput matTextareaAutosize [(ngModel)]="n.description"></textarea>
        </div>

        <div class="new-notif" [hidden]="hideNotifForm">
            <mat-form-field><input matInput [(ngModel)]="newNotification.title" placeholder="Title"/></mat-form-field>
            <mat-form-field><textarea matInput matTextareaAutosize [(ngModel)]="newNotification.description" placeholder="Description"></textarea></mat-form-field>
            <button (click)="addNotification()" mat-raised-button color="primary">Save</button>
        </div>
        <mat-button-toggle (click)="toggleNewNotifForm()" color="primary">{{toggleText}}</mat-button-toggle>
    </div>

    <div class="profile-section">
      <h3>Additional information <mat-icon>info_outline</mat-icon></h3>
    </div>
  </div>

</div>
