.container {
  width: 100%;
}

.mat-grid-tile .mat-grid-tile-header {
  background: rgba(88, 140, 183, 0.53);
}

.standard-card {
  margin: auto;
  width: 20%;
  height: 70%;
  text-align: center;
  background-color: rgba($color: #cfe0e0, $alpha: 0.8)
}

.standard-icon {
  border: 0.3px solid;
  background-color: rgb(165, 123, 221);
  text-align: center;
  color: white;
}

img {
  position: absolute;
  right: 40px;
  float: right;
  border-radius: 50%;
  border: 0.3px solid rgb(134, 134, 134);
  width: 150px;
  height: 150px;
  z-index: 2;
}