<div class="container">
  <h1>Lime's restaurant</h1>

  <div id="crm-content">

    <div id="profile-section">
      <h3>Profile <mat-icon>person</mat-icon></h3>
          <mat-table #table [dataSource]="dataSource">   
          <!-- Field Column -->
          <ng-container matColumnDef="field">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let profile"> {{profile.field}} </mat-cell>
          </ng-container>
              
          <!-- Value Column -->
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
            <mat-cell *matCellDef="let profile"> {{profile.value}} </mat-cell>
          </ng-container>
              
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <div id="notifications-section">
      <h3>Automatic notifications</h3>

      <div class="crm-block">
        <div *ngFor="let n of notifications" class="crm-block-row crm-block-row-editable">
          <div class="crm-block-cell-left">
            <mat-form-field>
              <input class="crm-notification-description" matInput
                     [(ngModel)]="n.title"/>
            </mat-form-field>
          </div>
          <div class="crm-block-cell-right">
            <mat-form-field>
              <textarea class="crm-notification-description" matInput matTextareaAutosize
                        [(ngModel)]="n.description"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary">Save</button>
          </div>
        </div>
        <div class="crm-block-row">
          <button (click)="addNotification('Title', 'Description')" mat-mini-fab><b>+</b></button>
        </div>
      </div>
    </div>

    <div id="additional-info-section">
      <h3>Additional information</h3>
    </div>
  </div>
</div>
