nav {
  background-image: url("../../../assets/imgs/login_background.jpg");
}

h3 {
  color: white;
}

.account {
  position: fixed;
  right: 10px;
  color: white;
}

.currentPage {
  margin-left: 1%;
}