<nav  [hidden]="isHidden()" class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button
    class="navbar-toggler navbar-toggler-right"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-main"
    aria-controls="navbar-main"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <button mat-raised-button color="primary" [matMenuTriggerFor]="mainMenu">
    <mat-icon>dehaze</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item color="primary" routerLink="/" (click)="setCurrentPage('Real-time heat map')">
      <mat-icon>location_on</mat-icon>
      Real-time heat map
    </button>
    <button mat-menu-item routerLink="/nearby-users" (click)="setCurrentPage('Real-time nearby users')">
      <mat-icon>pie_chart</mat-icon>
      Real-time nearby users
    </button>
    <button mat-menu-item routerLink="/analytics" (click)="setCurrentPage('City Analytics: Barcelona')">
      <mat-icon>equalizer</mat-icon>
      City Analytics
    </button>
    <button mat-menu-item routerLink="/boAnalytics" (click)="setCurrentPage('My Analytics')">
      <mat-icon>equalizer</mat-icon>
      My Analytics
    </button>
    <button mat-menu-item routerLink="/transactions" (click)="setCurrentPage('Transactions')">
      <mat-icon>attach_money</mat-icon>
      Transactions
    </button>
  </mat-menu>

  <h3 class="currentPage">{{ currentPageName }}</h3>

  <div class="account">
    <button mat-button [matMenuTriggerFor]="menu">
      Account
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile" (click)="setCurrentPage('Business profile')">
        <mat-icon>person</mat-icon>
        Profile
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>

</nav>
