<nav  [hidden]="isHidden()" class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button
    class="navbar-toggler navbar-toggler-right"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-main"
    aria-controls="navbar-main"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">
    <img src="assets/imgs/dashboard.png" />
  </a>

  <button mat-raised-button color="primary" [matMenuTriggerFor]="mainMenu">Menu</button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item color="primary" routerLink="/" (click)="setCurrentPage('Real-time heat map','location_on')">Real-time heat map</button>
    <button mat-menu-item routerLink="/nearby-users" (click)="setCurrentPage('Real-time nearby users','pie_chart')">Real-time nearby users</button>
    <button mat-menu-item routerLink="/analytics" (click)="setCurrentPage('City Analytics: Barcelona','pie_chart')">City Analytics</button>
    <button mat-menu-item routerLink="/transactions" (click)="setCurrentPage('Transactions','')">Transactions</button>
  </mat-menu>

  <h1 class="currentPage">
      <mat-icon>{{ currentPageIcon }}</mat-icon>
      {{ currentPageName }} 
  </h1>

  <div class="param">
    <button mat-button color="primary" [matMenuTriggerFor]="menu">Param</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile" (click)="setCurrentPage('Business profile','')">Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>

</nav>
