<div class="container">

  <div class="container">
    <div class="row">

      <div class="col">
      	<br />
        <h3>There are {{usersCounter}} users nearby!</h3>
        <!-- <span><b>Text</b></span> -->

	    <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=560x320&maptype=roadmap&markers=color:red%7Csize:mid%7C{{businessCoordComma}}&key=AIzaSyAKDLAzDXqcZXxP7KJUXHUriFI65PKF0wY" class="under" />

	    <img src="../../../assets/imgs/circle.png" class="over" />

        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

      </div>

    </div>
  </div>


  <div class="row">

    <div class="diagrams-container">
      <div class="barcharts" [hidden]="hideBarcharts">
        <div class="barchart-container" *ngIf="barChartGenderLoaded">
          <canvas baseChart height="400"
                  [data]="barChartGenderData"
                  [colors]="genderColors"
                  [labels]="barChartGenderLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </div>

        <div class="barchart-container" *ngIf="barChartAgeLoaded">
          <canvas baseChart height="400"
                  [data]="barChartAgeData"
                  [colors]="ageColors"
                  [labels]="barChartAgeLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </div>
      </div>
    </div>
    </div>



</div>
