<div class="container">

  <div class="container">
    <div class="row">

      <div class="col">
        <h3>{{usersCounter}} users</h3>
        <!-- <span><b>Text</b></span> -->


        <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=560x320&maptype=roadmap&markers=color:blue%7C{{businessCoordComma}}&key=AIzaSyAKDLAzDXqcZXxP7KJUXHUriFI65PKF0wY" alt="Map">
        <br />
        <br />

      </div>

    </div>
  </div>


  <div class="row">

    <div class="diagrams-container">
      <div class="barcharts" [hidden]="hideBarcharts">
        <div class="barchart-container" *ngIf="barChartGenderLoaded">
          <canvas baseChart height="400"
                  [data]="barChartGenderData"
                  [colors]="barChartColors"
                  [labels]="barChartGenderLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </div>

        <div class="barchart-container" *ngIf="barChartAgeLoaded">
          <canvas baseChart height="400"
                  [data]="barChartAgeData"
                  [colors]="barChartColors"
                  [labels]="barChartAgeLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </div>
      </div>
    </div>
    </div>



</div>
