<div class="container">
  <h1>
    <mat-icon>pie_chart</mat-icon>
    Nearby users
  </h1>


  <div class="container">
    <div class="row">

      <div class="col">
        <h3>{{usersCounter}} users</h3>
        <!-- <span><b>Text</b></span> -->



      </div>

    </div>
  </div>


  <div class="row">

    <div class="diagrams-container">
      <div class="barcharts" [hidden]="hideBarcharts">
        <div class="barchart-container" *ngIf="barChartGenderLoaded">
          <canvas baseChart height="400"
                  [data]="barChartGenderData"
                  [colors]="barChartColors"
                  [labels]="barChartGenderLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </div>

        <div class="barchart-container" *ngIf="barChartAgeLoaded">
          <canvas baseChart height="400"
                  [data]="barChartAgeData"
                  [colors]="barChartColors"
                  [labels]="barChartAgeLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </div>
      </div>
    </div>
    </div>



</div>
