page-loading {

  img{
    height: 50vh;
    width: auto;
    margin: auto;
    display: block;
  }


  .bottom {
    padding: $content-padding;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    font-size:1.3em;
  }

}
