<div class="container">

    <div class="row">
      <div class="btn-group" role="group" aria-label="Basic example" style="margin:auto;">
          <button type="button" class="btn btn-secondary active">Last month</button>
          <button type="button" class="btn btn-secondary">Last week</button>
          <button type="button" class="btn btn-secondary">Yesterday</button>
        </div>
    </div>
  
  <hr/>

 
  <div class="row">
        
        <div class="col-4 text-center" *ngIf="barChartGenderLoaded">
            <h3># Transactions per gender</h3>
            <canvas baseChart height="200"
              [datasets]="genderData"
              [labels]="genderLabels"
              [colors]="genderColors"
              [options]="barChartOptions"
              [legend]="genderLegend"
              [chartType]="genderType"></canvas>
        </div>

      

        <div class="col-4 text-center" *ngIf="barChartAgeLoaded">
            <h3># Transactions per age</h3>
          <canvas baseChart height="200"
                  [data]="barChartAgeData"
                  [colors]="hourcolors"
                  [labels]="barChartAgeLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </div>

      
        <div class="col-4 text-center" *ngIf="barChartHoursLoaded">
            <h3># Transactions per hour of day</h3>
          <canvas baseChart height="200"
                  [datasets]="hoursData"
                  [colors]="hourColors"
                  [labels]="hoursLabels"
                  [options]="ageOptions"
                  [legend]="restaurantsLegend"
                  chartType="line"></canvas>
        </div>
  
  </div>
  <hr/>
      <div class="row">

        <!-- Restaurants ranking-->
        
        <div class="col-6 text-center" *ngIf="restaurantsLoaded">
          <h3>Top Restaurants</h3>
          <span>% of total transactions</span>
          <canvas baseChart height="100"
                  [data]="restaurantsData"
                  [colors]="genderColors"
                  [labels]="restaurantsLabels"
                  [options]="barChartOptions"
                  [legend]="restaurantsLegend"
                  [chartType]="restaurantsType"></canvas>
        </div>

        <div class="col-6 text-center" *ngIf="tagsLoaded">
            <h3>Top Tags</h3>
            <span>% of total transactions</span>
            <canvas baseChart height="100"
                    [data]="tagsData"
                    [colors]="genderColors"
                    [labels]="tagsLabels"
                    [options]="barChartOptions"
                    [legend]="tagsLegend"
                    [chartType]="restaurantsType"></canvas>
          </div>




      </div>


</div>
