<div class="container">
  <h1>
    <mat-icon>location_on</mat-icon>
    Real-time analytics
  </h1>
  
  <div id="map"></div>

  <div class="side-panel">
    <p>{{ date }}</p>

    <mat-form-field>
        <mat-select [(value)]="selected">
          <mat-option value="all-users">All users</mat-option>
          <mat-option value="age">Age</mat-option>
          <mat-option value="gender">Gender</mat-option>
        </mat-select>
      </mat-form-field>

      <button (click)="openDialog()" mat-raised-button color="primary"> Send real-time notification </button>
  </div>

</div>
