<div class="container">
  <h1>
    <mat-icon>location_on</mat-icon>
    Real-time analytics
  </h1>
  
  <div id="map"></div>

  <div class="side-panel">
    <p>{{ date }}</p>

    <!-- Select filter -->
    <mat-form-field>
        <mat-select [(value)]="selectedFilter">
          <mat-option value="all-users" (click)="selectFilter()">All users</mat-option>
          <mat-option value="age" (click)="selectFilter()">Age</mat-option>
          <mat-option value="gender" (click)="selectFilter()">Gender</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Gender selector -->
    <div [hidden]="hideGenderSelector">
      <mat-radio-group [(value)]="selectedGender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button color="primary" (onclick)="filterMap()"> Filter map with selected gender</button>
    </div>

    <!-- Age range selector -->
    <div [hidden]="hideAgeSelector">
      <mat-form-field>
        <mat-select placeholder="From">
          <mat-option *ngFor="let age of ageRanges" [value]="age.value">
            {{ age.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="To">
          <mat-option *ngFor="let age of ageRanges" [value]="age.value">
            {{ age.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary"> Filter map with selected age range</button>
    </div>

    <button (click)="openDialog()" mat-raised-button color="primary"> Send real-time notification </button>
  </div>

</div>
