.registration-form {
    width: 600px;
    margin: auto;
    border-radius: 8px;
    background-color: rgba(190, 190, 190, 0.3);
}

.mat-form-field {
    width: 70%;
    display: block;
    margin: auto;
}

.mat-raised-button {
    display: block;
    margin: auto;
}