.info {
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(245, 237, 237, 0.692);
}

.registration-form {
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(245, 237, 237, 0.692);
}

.background {
    height: 990px;
    padding: 300px;
    background-image: url("../../../assets/imgs/login_background.jpg");
}

.mat-form-field {
    width: 70%;
    display: block;
    margin: auto;
}

.mat-raised-button {
    display: block;
    margin: auto;
}