.container {
  width: 100%;
  height: 100%;
  position: relative
}

.subtitle {
  position: absolute;
  top: 10px;
  left: 20px;
}

img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 400px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 8px 8px 12px #aaa;
  z-index: 2;
}

canvas .bottom {
  margin-top: 80px;
  margin-bottom:80px;
}
.mat-grid-tile .mat-grid-tile-header {
  background: rgba(88, 140, 183, 0.53);
  box-shadow: 8px 8px 12px #aaa;
  margin-right: 0px;
  z-index: 1;
}

.mat-grid-tile .right-tile {
  position: absolute;
  right: 10px;
}

p.customer-criteria {
  position: absolute;
  top: 70px;
  left: 10px;
}

.div {
  padding: 10px;
}

.diagrams-container {
  width: 70%;
  float: left;
}

.barchart-container {
  width: 32%;
  padding: 3px;
  display: inline-block;
}

.spaced  {
  width: 40%;
  margin-top:3px;
}

.rankingElement{
  background: yellow;
}
