.container {
  width: 100%;
  height: 100%;
  position: relative
}

.subtitle {
  position: absolute;
  top: 10px;
  left: 20px;
}

img {
  vertical-align:center;
  position: absolute;
  margin-left: auto;
  margin-right: 20px;
  left: 0;
  right: 0;
  width: 250px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 8px 8px 12px #aaa;
  z-index: 2;
}

div .cards {
  padding-bottom: 20px;
  display: flex;
  margin: auto;
  padding: auto;
  
}

h4 {
  background-color:  rgba(88, 140, 183, 0.53);
  border-radius: 5px;
  padding: 5px;
  width: 75%;
}

div .customer-card {
  width: 50%;
}

canvas .bottom {
  margin-top: 80px;
  margin-bottom:80px;
}
.mat-grid-tile .mat-grid-tile-header {
  background: rgba(88, 140, 183, 0.53);
  box-shadow: 8px 8px 12px #aaa;
  margin-right: 0px;
  z-index: 1;
}

.div {
  padding: 10px;
}

.diagrams-container {
  width: 70%;
  float: left;
}

.barchart-container {
  width: 32%;
  padding: 3px;
  display: inline-block;
}

.spaced  {
  width: 40%;
  margin-top:3px;
}

.rankingElement{
  background: yellow;
}
