<div class="container">

    <div class="row">
      <div class="col-12 text-center">
          <h1>
              <mat-icon>pie_chart</mat-icon>
              My Analytics
            </h1>
      </div>
     
    </div>
  
  <hr/>

 
  <div class="row">
        <div class="col-6 offset-3 text-center">
            <h3>Number of transactions</h3>
            <span>From {{textdateToPrety(granularity.start,0)}} to {{textdateToPrety(granularity.start,granularity.long)}}</span>
            <br/>
            <span>Total in view: {{inViewTxs}}</span>
            <br/>
            <span><i>Interactive chart. Click a bar to drill-down. <button class="btn btn-default" *ngIf="granularity.width!='week'"(click)="rollUp()">ROLL-UP</button></i></span>
             <p align="center">
                <canvas baseChart width="600"
                [data]="txsData"
                [colors]="genderColors"
                [labels]="txsLabels"
                [options]="txsOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartClick)="txsClicked($event)"></canvas>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4 text-center">
        <h3># Transactions per hour</h3>
        <p align="center">
            <canvas baseChart width="400"
                    [data]="hourData"
                    [colors]="hourColors"
                    [labels]="hourLabels"
                    [options]="txsOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
        </p>
        </div>

        <div class="col-4 text-center">
            <h3># Transactions per age</h3>
          <canvas baseChart width="400"
                  [data]="ageData"
                  [colors]="ageColors"
                  [labels]="ageLabels"
                  [options]="txsOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </div>

        <div class="col-4 text-center" >
            <h3># Transactions per gender</h3>
            <canvas baseChart width="400"
              [datasets]="genderData"
              [labels]="genderLabels"
              [colors]="genderColors"
              [options]="txsOptions"
              [legend]="genderLegend"
              [chartType]="barChartType"></canvas>
        </div>
        
  
  </div>
  <hr/>
      <div class="row">

        <!-- Restaurants ranking-->
        
        <div class="col-6 text-center" *ngIf="returningVisible">
          <h3>Users bouncing</h3>
          <span>Total unique users this month: {{uniqueUsers}}</span>
          <canvas baseChart
          [data]="returningData"
          [labels]="returningLabels"
          chartType="pie"
          ></canvas>
        </div>

        <div class="col-6 text-center" *ngIf="returningVisible">
            <h3>Returning users frequency</h3>
            <span>Times that users returned last month</span>
            <canvas baseChart
            [data]="freqData"
            [labels]="freqLabels"
            chartType="pie"
            ></canvas>
        </div>

      




      </div>


</div>
