<div class="container">
 
    <mat-tab-group>

      
        <!-- Transactions in details (hours / age / gender) tab -->
        <mat-tab label="Transactions">

                <div class="row">
        <div class="col-6 offset-3 text-center">
            <h3>Number of transactions</h3>
            <span>From {{textdateToPrety(granularity.start,0)}} to {{textdateToPrety(granularity.start,granularity.long)}}</span>
            <br/>
            <span>Total in view: {{inViewTxs}}</span>
            <br/>
            <span><i>Interactive chart. Click a bar to drill-down. <button class="btn btn-default" *ngIf="granularity.width!='week'"(click)="rollUp()">ROLL-UP</button></i></span>
            
            
            <p align="center">
                <canvas baseChart width="600"
                [data]="txsData"
                [colors]="genderColors"
                [labels]="txsLabels"
                [options]="txsOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartClick)="txsClicked($event)"></canvas>
            </p>
        </div>
    </div>
     <div class="row">
        <div class="col-4 text-center">
        <h3># Transactions per hour</h3>
        <p align="center">
            <canvas baseChart width="400"
                    [data]="hourData"
                    [colors]="hourColors"
                    [labels]="hourLabels"
                    [options]="txsOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
        </p>
        </div>

        <div class="col-4 text-center">
            <h3># Transactions per age</h3>
          <canvas baseChart width="400"
                  [data]="ageData"
                  [colors]="ageColors"
                  [labels]="ageLabels"
                  [options]="txsOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </div>

        <div class="col-4 text-center" >
            <h3># Transactions per gender</h3>
            <canvas baseChart width="400"
              [datasets]="genderData"
              [labels]="genderLabels"
              [colors]="genderColors"
              [options]="txsOptions"
              [legend]="genderLegend"
              [chartType]="barChartType"></canvas>
        </div>
        
  
  </div>
            
        </mat-tab>


        <!-- Customers returning tab -->
        <mat-tab label="Returning customers analytics">

            
                <div class="row">

                        <!-- Restaurants ranking-->
                        
                        <div class="col-6 text-center" *ngIf="returningVisible">
                          <h3>Users bouncing</h3>
                          <span>Total unique users this month: {{uniqueUsers}}</span>
                          <canvas baseChart
                          [data]="returningData"
                          [labels]="returningLabels"
                          chartType="pie"
                          ></canvas>
                        </div>
                
                        <div class="col-6 text-center" *ngIf="returningVisible">
                            <h3>Returning users frequency</h3>
                            <span>Times that users returned last month</span>
                            <canvas baseChart
                            [data]="freqData"
                            [labels]="freqLabels"
                            chartType="pie"
                            ></canvas>
                        </div>
                
                      
                
                
                
                
                      </div>
        </mat-tab>

         <!-- Typical customer tab -->
         <mat-tab label="Typical customer profile">
            <div class="cards">
                <mat-card class="customer-card">
                    <img src="../../../assets/imgs/{{typicalCustomer.gender}}_user.png">
                    <h4>Gender</h4>
                    <p>{{typicalCustomer.gender}}</p>
                    
                    <h4>Age</h4>
                    <p>{{typicalCustomer.age}}</p>

                    <h4>Food categories</h4>
                    <mat-chip *ngFor='let c of typicalCustomer.food_categories'>{{c}}</mat-chip>
                    
                    <h4>Typical time customer is coming by my restaurant</h4>
                    <p>{{typicalCustomer.typical_time}}</p>
                    
                    <h4>Average amount of virtual money spent</h4>
                    <p>{{typicalCustomer.average_spend}}</p>
                </mat-card>

                <mat-card class="customer-card">
                    <img src="../../../assets/imgs/male_user.png">
                    <h4>Gender</h4>
                    <p>male</p>
                        
                    <h4>Age</h4>
                    <p>27</p>
        
                    <h4>Food categories</h4>
                    <mat-chip>Take-away</mat-chip>
                        
                    <h4>Typical time customer is coming by my restaurant</h4>
                    <p>21:00-22:00</p>
                        
                    <h4>Average amount of virtual money spent</h4>
                    <p>14.35 €</p>
                </mat-card>
            </div>
            <div class='cards'>
                <mat-card class="customer-card">
                    <img src="../../../assets/imgs/male_user.png">
                    <h4>Gender</h4>
                    <p>male</p>
                        
                    <h4>Age</h4>
                    <p>19</p>
        
                    <h4>Food categories</h4>
                    <mat-chip>italian good</mat-chip>
                        
                    <h4>Typical time customer is coming by my restaurant</h4>
                    <p>19:00-20:00</p>
                        
                    <h4>Average amount of virtual money spent</h4>
                    <p>7.65 €</p>
                </mat-card>
            </div>

        </mat-tab>
    
        </mat-tab-group>
        <!--<mat-tab label="Typical customer profile">
            <mat-grid-list cols="4" rowHeight="150px">

                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-grid-tile-header>Gender</mat-grid-tile-header>
                    <p class='customer-criteria'>
                        {{typicalCustomer.gender}}
                    </p>
                </mat-grid-tile>

                <mat-grid-tile class="picture" [colspan]="1" [rowspan]="3">
                    <img src="../../../assets/imgs/{{typicalCustomer.gender}}_user.png">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-grid-tile-header>Age</mat-grid-tile-header>
                    <p class='customer-criteria'>
                        {{typicalCustomer.age}}
                    </p>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-grid-tile-header>Typical time customer is coming by my restaurant</mat-grid-tile-header>
                    <p class='customer-criteria'>
                        {{typicalCustomer.typical_time}}
                    </p>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-grid-tile-header>Food categories</mat-grid-tile-header>
                    <p class='customer-criteria'>
                        <mat-chip-list >
                            <mat-chip *ngFor='let c of typicalCustomer.food_categories'>{{c}}</mat-chip>
                        </mat-chip-list>
                    </p>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-grid-tile-header>Average amount of virtual money spent</mat-grid-tile-header>
                    <p class='customer-criteria'>
                        {{typicalCustomer.average_spend}}
                    </p>
                </mat-grid-tile>

            </mat-grid-list>
        </mat-tab>

    </mat-tab-group>-->
    

    <!--<div class="row">
        <div class="col-6 offset-3 text-center">
            <h3>Total number of transactions</h3>
            <span>From {{textdateToPrety(granularity.start,0)}} to {{textdateToPrety(granularity.start,granularity.long)}}</span>
            <br/>
            <span>Total in view: {{inViewTxs}}</span>
            <br/>
            <span><i>Interactive chart. Click a bar to drill-down. <button class="btn btn-default" *ngIf="granularity.width!='week'"(click)="rollUp()">ROLL-UP</button></i></span>
             <p align="center">
                <canvas baseChart width="600"
                [data]="txsData"
                [colors]="genderColors"
                [labels]="txsLabels"
                [options]="txsOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartClick)="txsClicked($event)"></canvas>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4 text-center">
        <h3># Transactions per hour</h3>
        <p align="center">
            <canvas baseChart width="400"
                    [data]="hourData"
                    [colors]="hourColors"
                    [labels]="hourLabels"
                    [options]="txsOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
        </p>
        </div>

        <div class="col-4 text-center">
            <h3># Transactions per age</h3>
          <canvas baseChart width="400"
                  [data]="ageData"
                  [colors]="ageColors"
                  [labels]="ageLabels"
                  [options]="txsOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
        </div>

        <div class="col-4 text-center" >
            <h3># Transactions per gender</h3>
            <canvas baseChart width="400"
              [datasets]="genderData"
              [labels]="genderLabels"
              [colors]="genderColors"
              [options]="txsOptions"
              [legend]="genderLegend"
              [chartType]="barChartType"></canvas>
        </div>
    </div>
    <hr/>
    <div class="row">
        
        <div class="col-6 text-center" *ngIf="returningVisible">
          <h3>Users bouncing</h3>
          <span>Total unique users this month: {{uniqueUsers}}</span>
          <canvas baseChart
          [data]="returningData"
          [labels]="returningLabels"
          chartType="pie"
          ></canvas>
        </div>

        <div class="col-6 text-center" *ngIf="returningVisible">
            <h3>Returning users frequency</h3>
            <span>Times that users returned last month</span>
            <canvas baseChart
            [data]="freqData"
            [labels]="freqLabels"
            chartType="pie"
            ></canvas>
        </div>

      </div>-->

</div>
