.background {
    height: 990px;
    //background-image: url("../../../assets/imgs/login_background.jpg");
}

.mat-form-field {
    width: 70%;
    display: block;
    margin: auto;
}

.mat-raised-button {
    width: 120px;
    display: block;
    margin: auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  width:90%;
}
