page-register {
  ion-item{
    border-radius: 7px !important;
    border: 1px solid grey !important;
    margin-bottom:8px !important;
  }
}

.fieldError{
  color: red;
  font-size: 0.9em;
  font-style: italic;
}
